<html>
  <head>
    <title>Email Template</title>
  </head>
  <body>
    <p>Hello <%= firstName %>,</p>
    <p>Subject: <%= subject %></p>
    <p>here is the url for password reset, please click on <a href="<%= url %>"><%= url %></a></p>
    <br />
    <h5>Note:</h5><p> if not requested by you, please ignore.</p>
  </body>
</html>